@import '~carbon-components/scss/globals/scss/vars';
@import '~carbon-components/scss/globals/scss/colors';
@import '~carbon-components/scss/globals/scss/theme';
@import '~carbon-components/scss/globals/scss/mixins';
@import '~carbon-components/scss/globals/scss/typography';
@import '~carbon-components/scss/globals/scss/spacing';
@import '~carbon-components/scss/globals/scss/import-once';
@import '~carbon-components/scss/globals/scss/css--typography';
@import '../tag/tag';

@include exports('cloud-tag-list') {
  .#{$prefix}--tag-list {
    display: flex;
    align-items: center;

    &:hover
      .#{$prefix}--tag-list--edit--button
      .#{$prefix}--tag-list--edit--icon {
      fill: $ui-05;
    }
  }

  .#{$prefix}--tag-list-editable {
    // between space
    &:hover {
      cursor: pointer;
    }

    .#{$prefix}--tag-list--tag:hover {
      //over the tag
      cursor: pointer;
    }
  }

  .#{$prefix}--tag-list-editable {
    // between space
    &:hover {
      cursor: pointer;
    }

    .#{$prefix}--tag-list--tag:hover {
      //over the tag
      cursor: pointer;
    }
  }

  .#{$prefix}--tag-list--tag {
    margin-right: $spacing-2xs;

    &:last-of-type {
      margin-right: $spacing-xs;
    }

    &:focus
      ~ .#{$prefix}--tag-list--edit--button
      .#{$prefix}--tag-list--edit--icon {
      fill: $ui-05;
    }

    &:focus {
      outline: 1px solid transparent;
      box-shadow: 0 0 0 1px #3d70b2;
    }
  }

  .#{$prefix}--tag-list--tag-counter-tooltip {
    &:focus
      ~ .#{$prefix}--tag-list--edit--button
      .#{$prefix}--tag-list--edit--icon {
      fill: $ui-05;
    }

    &:focus {
      outline: 1px solid transparent;
      box-shadow: 0 0 0 1px #3d70b2;
    }
  }

  .#{$prefix}--tag-list--tag-tooltip {
    padding: 2px;
    font-size: 0.75rem;
  }

  .#{$prefix}--tag-list--tag-counter {
    border-radius: 0.375rem;
    margin-right: rem(6px);

    &:hover {
      cursor: pointer;
    }
  }

  .#{$prefix}--tag-list--tag-counter--icon {
    width: rem(6px);
    height: rem(6px);
    background-color: none;
    fill: $color__navy-gray-11;
    margin: 0 $spacing-3xs 0 0;
  }

  .#{$prefix}--tag-list--edit--button {
    background-color: transparent;
    border: none;
    padding: 0;

    .#{$prefix}--tag-list--edit--icon {
      fill: transparent;
    }

    &:hover {
      cursor: pointer;
      .#{$prefix}--tag-list--edit--icon {
        fill: $brand_01 !important;
      }
    }

    &:focus {
      .#{$prefix}--tag-list--edit--icon {
        fill: $brand_01;
      }
    }

    &:focus {
      outline: 1px solid transparent;
      box-shadow: 0 0 0 1px #3d70b2;
    }

    &.always-editable {
      .#{$prefix}--tag-list--edit--icon {
        fill: $ui-05;
      }

      &:hover,
      &:focus {
        .#{$prefix}--tag-list--edit--icon {
          fill: $brand_01;
        }
      }
    }

    &.never-editable {
      display: none;
    }
  }

  .#{$prefix}--tag-list--edit--icon {
    width: rem(14px);
    height: rem(14px);

    &:hover {
      fill: $brand_01;
    }
  }
}
