@import '~carbon-components/scss/globals/scss/vars';
@import 'colors';
@import '~carbon-components/scss/globals/scss/theme';
@import '~carbon-components/scss/globals/scss/spacing';
@import '~carbon-components/scss/globals/scss/helper-mixins';
@import '~carbon-components/scss/globals/scss/typography';
@import '~carbon-components/scss/globals/scss/import-once';
@import 'mixins';

@include exports('cloud-tag') {
  .#{$prefix}--tag {
    @include font-family;
    @include typescale('omega');
    display: inline-flex;
    align-items: center;
    padding: 0 rem(7px);
    height: 1.25rem;
    margin: $spacing-3xs $spacing-3xs $spacing-3xs 0;
    border-radius: rem(15px);

    &:not(:first-child) {
      margin-left: 0;
    }
    &__removed {
      display: none;
    }
  }

  .#{$prefix}--tag--functional {
    @include tag-theme($color__navy-gray-10, $color__navy-gray-11);
    cursor: default;
    white-space: nowrap;

    &__hovered {
      @include tag-theme($color__navy-gray-13, $color__navy-gray-11);
    }

    &__not-filtered {
      opacity: 0.4;
    }
  }

  .#{$prefix}--tag-close {
    fill: $color__navy-gray-12;
    margin-left: rem(8px);
    width: rem(8px);
    height: rem(8px);
    cursor: pointer;
  }
}
