@import 'carbon-components/scss/globals/scss/colors';
@import 'carbon-components/scss/globals/scss/theme';
@import 'carbon-components/scss/globals/scss/vars';
@import 'carbon-components/scss/globals/scss/mixins';
@import 'carbon-components/scss/globals/scss/layer';
@import 'carbon-components/scss/globals/scss/typography';
@import 'carbon-components/scss/globals/scss/import-once';
@import 'carbon-components/scss/globals/scss/css--reset';
@import 'carbon-components/scss/globals/scss/typography';

body.bx--v9-theme {
  @include exports('cloud-interior-left-nav') {
    .bx--interior-left-nav {
      border-right: 1px solid rgba(#c2c0c0, 0.5);
    }

    .left-nav-line {
      border: 1px solid #0f212e;
    }

    .bx--interior-left-nav-collapse {
      background-color: rgba(#3d70b2, 0.1);

      &:hover,
      &:focus {
        background-color: rgba(#3d70b2, 0.3);
      }
    }

    .bx--interior-left-nav--collapsing,
    .bx--interior-left-nav--collapsed {
      background-color: rgba(#3d70b2, 0.1);

      &:hover,
      &:focus {
        background-color: rgba(#3d70b2, 0.3);
      }
    }
  }
}

@include exports('cloud-interior-left-nav') {
  .bx--interior-left-nav {
    @include reset;
    @include carbon--font-family(sans);
    width: rem(250px);
    position: fixed;
    top: rem(90px);
    height: 100%;
    background-color: $ui-02;
    border-right: 1px solid rgba(#c2c0c0, 0.5);

    &--v6 {
      top: rem(50px);
    }

    .left-nav-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      background-color: $ui-02;
      padding-top: 1.5rem;
      overflow: auto;

      &__item {
        cursor: pointer;
        width: 100%;
        padding: 0;

        &:focus {
          outline: 1px solid transparent;

          .left-nav-list__item-link {
            color: $link-01;
            text-decoration: underline;
          }

          .left-nav-list--nested .left-nav-list__item-link {
            color: $text-01;
            text-decoration: none;
          }
        }

        &--active {
          & > .left-nav-list__item-link {
            color: $link-01;
            font-weight: 600;
          }
        }

        &-link {
          @include type-style('productive-heading-01');
          color: $text-01;
          font-weight: 400;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-decoration: none;
          transition: background-color $transition--base;
          padding: 0.75rem 1.5rem 0.75rem rem(59px);
        }

        &:not(.left-nav-list__item--has-children):hover
          > .left-nav-list__item-link {
          background-color: $field-01;
          color: $link-01;
        }

        &-icon {
          display: flex;

          .bx--interior-left-nav__icon {
            fill: $icon-01;
            width: rem(8px);
            height: rem(8px);
            transition: $transition--base;
          }
        }

        &--expanded {
          .left-nav-list--nested {
            max-height: 20rem;
            transition: $transition--expansion $carbon--ease-in;
            overflow: inherit;
            opacity: 1;

            .left-nav-list__item {
              opacity: 1;
            }
          }

          & > .left-nav-list__item-link {
            color: $link-01;
          }

          .left-nav-list__item-icon .bx--interior-left-nav__icon {
            transform: rotate(180deg);
          }
        }
      }

      &__item--has-children {
        .left-nav-list__item-link {
          padding-right: 1.5rem;
        }

        &:hover {
          > .left-nav-list__item-link {
            color: $link-01;
          }
        }
      }
    }

    .left-nav-list--nested {
      max-height: 0;
      overflow: hidden;
      transition: $transition--expansion $carbon--ease-out;
      padding: 0;
      opacity: 0;

      .left-nav-list__item {
        width: 100%;
        position: relative;
        padding: 0;
        transition: $transition--base;
        opacity: 0;

        &-link {
          @include type-style('productive-heading-01');
          color: $text-01;
          padding: 0.75rem 1.35rem 0.75rem 4.5rem;
          font-weight: 400;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &:focus {
            outline: 1px solid transparent;
            text-decoration: underline;
          }
        }

        &:hover {
          outline: none;
        }

        &--active {
          color: $link-01;
          background-color: $field-01;

          & > .left-nav-list__item-link {
            font-weight: 600;
            color: $link-01;
          }
        }
      }
    }

    &__header {
      padding: 0 0 1rem 1rem;
      margin-bottom: 1rem;
      border-bottom: solid $ui-04 1px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &__icon {
        width: 1.125rem;
        height: 1.125rem;
        margin-right: 0.75em;
      }
    }
  }

  .bx--interior-left-nav--collapseable {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: rem(200px);
    transition: background-color 300ms $carbon--standard-easing,
      width 300ms $carbon--standard-easing;

    ul,
    li,
    hr,
    .bx--interior-left-nav-collapse__target {
      opacity: 1;
    }

    .left-nav-list,
    .left-nav-list__item-link {
      background-color: inherit;
    }

    .left-nav-list__item--expanded > .left-nav-list {
      padding-top: rem(6px);
      padding-bottom: rem(6px);
    }

    .left-nav-list__item--expanded > .left-nav-list__item-link {
      color: $text-01;
    }

    .left-nav-line {
      margin: rem(24px) rem(20px);
      border: 1px solid #0f212e;
    }

    .left-nav-list__item--active > .left-nav-list__item-link {
      position: relative;
      background-color: transparent;

      &:before {
        top: 0;
        position: absolute;
        background-color: $link-01;
        height: 100%;
        left: 0;
        width: 4px;
        content: '';
      }
    }

    .left-nav-list__item {
      margin-bottom: rem(5px);
    }

    .left-nav-list__item-link,
    .left-nav-list--nested .left-nav-list__item-link {
      padding: rem(9px) rem(20px);
    }

    .left-nav-list--nested .left-nav-list__item-link {
      @include type-style('label-01');
      padding-left: rem(40px);
    }

    .bx--interior-left-nav-collapse {
      cursor: pointer;
      background-color: rgba(#3d70b2, 0.1);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: auto;
      margin-bottom: rem(90px);
      padding: rem(14px) rem(16px);

      &--v6 {
        margin-bottom: rem(50px);
      }

      &:hover,
      &:focus {
        background-color: rgba(#3d70b2, 0.3);
      }
    }

    .bx--interior-left-nav-collapse__target {
      margin-left: rem(10px);
      margin-right: rem(10px);
    }

    .bx--interior-left-nav-collapse__link {
      @include type-style('productive-heading-01');
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 0.25rem;

      &:focus {
        @include focus-outline('border');
      }
    }

    .bx--interior-left-nav-collapse__arrow {
      transform: rotate(0);
      fill: $icon-01;
      height: 12px;
      width: 12px;
    }
  }

  .bx--interior-left-nav--collapsing,
  .bx--interior-left-nav--collapsed {
    width: rem(48px);
    transition: background-color 300ms $carbon--standard-easing,
      width 300ms $carbon--standard-easing;
    cursor: pointer;
    background-color: rgba(#3d70b2, 0.1);

    &:hover,
    &:focus {
      background-color: rgba(#3d70b2, 0.3);
    }

    ul,
    li,
    hr,
    .bx--interior-left-nav-collapse__target {
      opacity: 0;
      transition: opacity 300ms $carbon--standard-easing;
      overflow: hidden;
      white-space: nowrap;
    }

    .bx--interior-left-nav-collapse {
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }
    }

    .bx--interior-left-nav-collapse__arrow {
      transform: rotate(180deg);
      transition: transform 300ms $carbon--standard-easing;
    }
  }

  .bx--interior-left-nav--collapsed {
    ul,
    li,
    hr,
    .bx--interior-left-nav-collapse__target {
      display: none;
    }

    .bx--interior-left-nav-collapse {
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .bx--interior-left-nav--expanding {
    width: rem(200px);
    transition: width 300ms $carbon--standard-easing;
    background-color: $ui-02;

    ul,
    li,
    hr,
    .bx--interior-left-nav-collapse__target {
      opacity: 1;
      transition: opacity 300ms $carbon--standard-easing;
      overflow: hidden;
      white-space: nowrap;
    }

    .bx--interior-left-nav-collapse__arrow {
      transform: rotate(0deg);
      transition: transform 300ms $carbon--standard-easing;
    }
  }

  .bx--interior-left-nav--collapsing,
  .bx--interior-left-nav--collapsed,
  .bx--interior-left-nav--expanding {
    .bx--interior-left-nav__header__title {
      display: none;
    }
  }
}
