@import '~carbon-components/scss/globals/scss/colors';
@import '~carbon-components/scss/globals/scss/theme';
@import '~carbon-components/scss/globals/scss/helper-mixins';

$cloud-header-link-color: #f2f4f8 !default;
$cloud-header-icon-color: #f2f4f8 !default;
$cloud-header-menu-color: #f2f4f8 !default;
$cloud-header-background-color: $color__blue-90 !default;
$cloud-header-hover-background-color: #2c3f48 !default;
$cloud-header-hover-link-color: #76aaea !default;

.bx--cloud-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $cloud-header-background-color;
  color: $cloud-header-link-color;
  height: rem(48px);
  padding: 0 rem(2px);
  width: 100%;
}

.bx--cloud-header__wrapper,
.bx--cloud-header-brand,
.bx--cloud-header-brand-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.bx--cloud-header-brand-container {
  width: rem(272px);
}

.bx--cloud-header__app-menu {
  @include button-reset;
  box-sizing: content-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: rem(14px);
  margin-right: rem(10px);
  width: auto;
  transition: background-color $transition--base $bx--standard-easing;

  svg {
    fill: $cloud-header-menu-color;
  }

  &:focus {
    @include focus-outline('border');
  }

  &:hover,
  &:focus {
    background-color: $cloud-header-hover-background-color;
  }
}

.bx--cloud-header-brand {
  text-decoration: none;
  color: $cloud-header-link-color;
  transition: color $transition--base $bx--standard-easing;

  &:hover,
  &:focus {
    color: $cloud-header-hover-link-color;
  }

  &:focus {
    @include focus-outline('border');
  }
}

.bx--cloud-header-brand--no-menu {
  padding-left: rem(24px);
}

.bx--cloud-header-brand__icon {
  height: rem(32px);
  width: rem(32px);
  margin-right: rem(10px);
}

.bx--cloud-header-brand__text {
  @include typescale('epsilon');
  font-weight: 400;

  span {
    font-weight: 600;
  }
}

.bx--cloud-header-list {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.bx--cloud-header-list--link {
  display: none;

  @include breakpoint('672px') {
    display: flex;
  }
}

.bx--cloud-header-list--icon
  .bx--cloud-header-list__item:not(.bx--cloud-header-list__item--icon) {
  display: none;

  @include breakpoint('320px') {
    display: flex;
  }
}

.bx--cloud-header-list__item {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.bx--cloud-header-list__link {
  @include typescale('epsilon');
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: $cloud-header-link-color;
  text-decoration: none;
  transition: color $transition--base $bx--standard-easing;
  margin-right: rem(32px);

  &:hover,
  &:focus {
    color: $cloud-header-hover-link-color;
  }

  &:focus {
    @include focus-outline('border');
  }
}

.bx--cloud-header-list__btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  padding: rem(14px);
  transition: background-color $transition--base $bx--standard-easing;

  svg {
    fill: $cloud-header-icon-color;
  }

  &:hover,
  &:focus {
    background-color: $cloud-header-hover-background-color;
  }

  &:focus {
    @include focus-outline('border');
  }
}

.bx--cloud-header-list__btn .bx--cloud-header__user-icon {
  height: rem(32px);
  width: rem(32px);
}
