<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://unpkg.com/carbon-components@8.23.0/css/carbon-components.min.css">
  <link rel="stylesheet" href="{{path '/styles.min.css'}}">
  <title>Preview Layout</title>
</head>
<body>
  {{{ yield }}}
</body>
</html>
