@import 'vars';

@keyframes bounce {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, $cloudDistance);
  }
}

@keyframes thinkLeft {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(($thinkDistance * 1.732), $thinkDistance);
  }
}

@keyframes thinkLeftCenter {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate($thinkDistance, ($thinkDistance * 2));
  }
}

@keyframes thinkCenter {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, $thinkDistance * 2);
  }
}

@keyframes thinkRightCenter {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-$thinkDistance, ($thinkDistance * 2));
  }
}

@keyframes thinkRight {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-($thinkDistance * 1.732), $thinkDistance);
  }
}
