$css--font-face: false !default;
$css--helpers: true !default;
$css--body: true !default;
$css--use-layer: true !default;
$css--reset: true !default;
$css--typography: true !default;
$css--plex: true !default;

@import '~carbon-components/scss/globals/scss/styles';
@import '../src/index';

.storybook-container > div {
  width: 100%;
}

.list {
  background-color: #fff;
  width: rem(200px);
  position: absolute;
  right: 0;
  top: 100%;

  li {
    padding: 0.5rem;
    text-align: left;
  }
}
